<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tarea de unidad 2 modulo 3</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/carrito">Carrito</a></li>
    </ul>
  </body>
</html>
