  body {
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(/images/fondonuevo.jpg)
  }
  
/*Pagina principal*/
  a {
    color:  #a5ff5b;
    border-color: black;
    text-decoration: none;
    font-size: 40px;
  }
  
  ul{
    list-style: none;
  }

  .container{
    width: 90%;
    margin: auto;
  }


  .nav_main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }

  .nav_main ul li a:hover {
    border-bottom: 2px solid #ffffff;

}
 .logo{
    width: 90px;
    height: 90px;
    border-style: solid;
    border-color: darkorange;
    border-radius: 10px;
 }

 .nav_main ul {
    display: flex;
 }

 .nav_main ul li {
    padding: 10px;
 }

 .nav_main ul.barra_menu{
    flex: 1px;
    margin-left: 20px;
 }

 .imagenprincipal{
  width: 100%;
  height: 700px;
  border-radius: 20px;
  margin-top: 10px;
 }

 h2{
  color: #a5ff5b;
  text-align: center;

 }

 h3{
  color: #a5ff5b;
 }

 p{
  color: #a5ff5b;
 }




 /* ofertas */

 .ofertasdelmes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  
 }

 .ofertasdelmes img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
 }

 .contenerdorguit h1{
  color: #ffffff;
  margin-left: 10px;
 }


 /* guitarras */

 .containerguit{
  width: 90%;
  margin: auto;
}

 .guitarrasstock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
 }

 .guitarrasstock img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
 }

 h1{
 color: #a5ff5b;
 margin-left: 10px;
}

/* baterias */

.containerbat{
  width: 90%;
  margin: auto;
}

 .bateriasstock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
 }

 .bateriasstock img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
 }

 h1{
 color: #a5ff5b;
 margin-left: 10px;
}

/* Bajos */

.containerbajos{
  width: 90%;
  margin: auto;
}

 .bajosstock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
 }

 .bajosstock img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
 }

 h1{
 color: #a5ff5b;
 margin-left: 10px;
}

 /* saxos */

 .containersaxos{
  width: 90%;
  margin: auto;
}

 .saxosstock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
 }

 .saxosstock img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
 }

 h1{
 color: #a5ff5b;
 margin-left: 10px;
}

/*sobre nosotros*/

.containersobrenosotros{
  width: 90%;
  margin: auto;
}


/*usuario*/

.bienvenidausuario{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.bienvenidausuario a {
  font-size: larger;
}

/*ESTILOS TABLA*/

.containertable{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

/* boton comprar */

.btn-comprar {
  background-color: #a5ff5b;
  border-radius: 2px;
  border-color: aliceblue;
  border-radius: 5px;
  font-size: larger;
}

/* estilos login */

.container-login {
  margin-left: 42%;
}

.btn-primary {
  background-color: #a5ff5b;
  border-radius: 2px;
  border-color: aliceblue;
  border-radius: 5px;
  font-size: larger;
}

.container-login p {
  font-size: larger;
}

.titulo-paneladmin{
  text-align: center;
  font-size: x-large;
}

.btn-danger{
  color: darkorange;
  background-color: rgb(53, 50, 50);
  border-radius: 5px;
}

.agregar-buscar {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.search{
  font-size: 17px;
}

