 <div class="containerbajos">

        <h1>Bajos</h1>
        <hr>
        <div class="bajosstock">
            <div>
                <img src="Bajos/ba-fender.jpg" alt="ba-fender">
                <h3>Bajo Fender presission</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bajos/ba-hartake.jpg" alt="ba-hartake">
                <h3>Bajo ba-hartake</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bajos/ba-ibaez special.jpg" alt="ba-ibanezspecial">
                <h3>Bajo Ibanez special</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bajos/ba-ibanez.jpg" alt="ba-ibanez">
                <h3>Bajo Ibanez special</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bajos/ba-parker.jpg" alt="ba-parker">
                <h3>Bajo Parker Jazz Bass</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bajos/ba-yamaha.jpg" alt="ba-yamaha">
                <h3>Bajo Yamaha</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>

    </div>
