    <div class="containerbat">

        <h1>Baterias</h1>
        <hr>
        <div class="bateriasstock">
            <div>
                <img src="Bateriasstock/b-mapex.jpg" alt="b-mapex">
                <h3>Bateria Mapex basica de 3 cuerpos</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bateriasstock/b-parker.jpg" alt="b-parker">
                <h3>Bateria Parker de 4 cuerpos</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bateriasstock/b-pearl.jpg" alt="b-pearl">
                <h3>Bateria Pearl de 4 cuerpos</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bateriasstock/b-sonor.jpg" alt="b-sonor">
                <h3>Bateria Sonor de 4 cuerpos</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bateriasstock/b-tama.jpg" alt="b-tama">
                <h3>Bateria Tama de 5 cuerpos (incluye redoblante)</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Bateriasstock/b-yamaha.jpg" alt="b-yamaha">
                <h3>Bateria Yamaha de 5 cuerpos (incluye redoblante)</h3>
                <a href="#">Agregar al Carritos<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>

    </div>
