<div class="containerbat">

    <h1>Baterias</h1>
    <hr>
    <div class="bateriasstock">
        <div>
            <img src="images/Bateriasstock/b-mapex.jpg" alt="b-mapex" class="item-image">
            <h3 class="item-title">Bateria Mapex basica de 3 cuerpos</h3>
            <h3 class="item=price">$101000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Bateriasstock/b-parker.jpg" alt="b-parker" class="item=image">
            <h3 class="item-title">Bateria Parker de 4 cuerpos</h3>
            <h3 class="item-price">$92000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Bateriasstock/b-pearl.jpg" alt="b-pearl" class="item-image">
            <h3 class="item-title">Bateria Pearl de 4 cuerpos</h3>
            <h3 class="item-price">$109000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Bateriasstock/b-sonor.jpg" alt="b-sonor" class="item-image">
            <h3 class="item-title">Bateria Sonor de 4 cuerpos</h3>
            <h3 class="item-price">$135000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Bateriasstock/b-tama.jpg" alt="b-tama" class="item-image">
            <h3 class="item-title">Bateria Tama de 5 cuerpos (incluye redoblante)</h3>
            <h3 class="item-price">$127000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Bateriasstock/b-yamaha.jpg" alt="b-yamaha" class="item-image">
            <h3 class="item-title">Bateria Yamaha de 5 cuerpos (incluye redoblante)</h3>
            <h3 class="item-price">$111000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carritos<i class="fas fa-angle-double-right"></i></a> --}}
        </div>
    </div>

</div>