<div class="containerguit">

    <h1>Guitarras</h1>
    <hr>
    <div class="guitarrasstock">
        <div>
            <img src="images/Guitarrasstock/g-explorer.jpg" alt="g-explorer" class="item-image">
            <h3 class="item-title">Guitarra Epiphone Explorer </h3>
            <h3 class="item-price">$140000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Guitarrasstock/g-flayingv.jpg" alt="g-flayingv" class="item-image">
            <h3 class="item-title">Guitarra Gibson Flaying V</h3>
            <h3 class="item-price">$183000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Guitarrasstock/g-lespaul.jpg" alt="g-lespaul" class="item-image">
            <h3 class="item-title">Guitarra Epiphone Les paul</h3>
            <h3 class="item-price">$83500</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Guitarrasstock/g-sg.jpg" alt="g-sg" class="item-image">
            <h3 class="item-title">Guitarra Gibosn SG </h3>
            <h3 class="item-price">$161700</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Guitarrasstock/g-stratocaster.png" alt="g-stratocaster" class="item-image">
            <h3 class="item-title">Guitarra Squier Strarocaster </h3>
            <h3 class="item-price">$79900</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Guitarrasstock/g-telecaster.jpg" alt="g-telecaster" class="item-image">
            <h3 class="item-title">Guitarra Fender Telecaster</h3>
            <h3 class="item-price">$191200</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>
    </div>

</div>