 <div class="containerguit">

        <h1>Guitarras</h1>
        <hr>
        <div class="guitarrasstock">
            <div>
                <img src="Guitarrasstock/g-explorer.jpg" alt="g-explorer">
                <h3>Guitarra Epiphone Explorer </h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Guitarrasstock/g-flayingv.jpg" alt="g-flayingv">
                <h3>Guitarra Gibson Flaying V</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Guitarrasstock/g-lespaul.jpg" alt="g-lespaul">
                <h3>Guitarra Epiphone Les paul</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Guitarrasstock/g-sg.jpg" alt="g-sg">
                <h3>Guitarra Gibosn SG </h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Guitarrasstock/g-stratocaster.png" alt="g-stratocaster">
                <h3>Guitarra Squier Strarocaster </h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <img src="Guitarrasstock/g-telecaster.jpg" alt="g-telecaster">
                <h3>Guitarra Fender Telecaster</h3>
                <a href="#">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>

    </div>

