<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rockn roll never die</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="stylesheets/estilo.css">
</head>

<body>
  <div class="container">
    <!-- Navegacion -->
    <nav class="nav_main">
      <!-- Logo -->
      <img src="images/logo.jpg" alt="Logo" class="logo">
      <!-- Nav izquierda -->
      <ul class="barra_menu">
        <li>
          <a href="/"> inicio</a>
        </li>
        <li>
          <a href="/guitarras">Guitarras</a>
        </li>
        <li>
          <a href="/baterias">Baterias</a>
        </li>
        <li>
          <a href="/bajos">Bajos</a>
        </li>
        <li>
          <a href="/saxos">Saxos</a>
        </li>
      </ul>

      <!-- Nav derecha -->
      <ul class="nav-menu-right">
        <li>
          <a href="/sobrenosotros">Sobre Nosotros</a>
        </li>
        {{!-- <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <li>
          <a href="/carrito">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li> --}}
      </ul>
    </nav>
    <hr>
    {{{body}}}

</body>

</html>