<div class="containersaxos">

    <h1>Saxos</h1>
    <hr>
    <div class="saxosstock">
        <div>
            <img src="images/Saxos Stock/Saxo Alto Stagg Wsas215s.jpg" alt="s-stagg" class="item-image">
            <h3 class="item-title">Saxo Alto Stagg Wsas215s</h3>
            <h3 class="item-price">$490000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Saxos Stock/Saxo Alto Yamaha Yas-280.jpg" alt="s-yamaha280" class="item-image">
            <h3 class="item-title">Saxo Alto Yamaha Yas-280</h3>
            <h3 class="item-price">$728000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Saxos Stock/SAXO TENOR YAMAHA YTS875EX 03.jpg" alt="s-yamahaex" class="item-image">
            <h3 class="item-title">Saxo tenor Yamaha YTS875EX</h3>
            <h3 class="item-price">$701000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

        <div>
            <img src="images/Saxos Stock/saxo-alto-selmer-sii-jubile-goldmessing.jpg" alt="s-selmer" class="item-image">
            <h3 class="item-title">Saxo alto Selmer Jubile</h3>
            <h3 class="item-price">$640000</h3>
            <button class="btn-comprar"
                onclick="alertar('Gracias por su compra, en breve nos contactaremos para coordinar la entrega');">
                Comprar
            </button>
            <script type="text/javascript">
                function alertar(texto) {
                    alert(texto);
                }
            </script>
            {{!-- <a href="/carrito">Agregar al Carrito<i class="fas fa-angle-double-right"></i></a> --}}
        </div>

    </div>

</div>