    <div class="containersobrenosotros">

        <h1>Sobre Nosotros</h1>
        <hr>

        <h2>¿Quienes somos?</h2>

        <p>"Rockn Roll Never die" es empresa creada este mismo año. Exclusivamente y , en principio, para la venta de
            instrumentos para hacer estilos derivados del rock, blues y metal principalmente. Aunque pensada para crecer
            y
            ampliar nuestro mercado a todos los instrumentos y estilos posibles.</p>

        <br>

        <h2>Vista a futuro</h2>


        <p>Esta en los planes de "Rockn Roll Never die" contar con mas instrumentos, todo lo relacionado a equipos de
            audio
            y sonido, grabacion, estetica, mantenimento, equipos amplificadores, peadles, cuerdas y todo tipo de
            repuestos
            para los instrumentos que comercializamos </p>

        <br>

        <h2>¿Te gustaria dejarnos un comentario y/o sugerencia anonima?</h2>
        <p>
            <label for="comentario">Comentario y/o sugerencia</label>
            <textarea name="comentarios"></textarea>
        </p>

        <p>
            <input type="submit" value="Enviar" />
            <input type="reset" value="Borrar" />
        </p>

    </div>