<div class="containersobrenosotros">

    <h1>Sobre Nosotros</h1>
    <hr>

    <h2>¿Quienes somos?</h2>

    <p>"Rockn Roll Never die" es empresa creada este mismo año. Exclusivamente y , en principio, para la venta de
        instrumentos para hacer estilos derivados del rock, blues y metal principalmente. Aunque pensada para crecer
        y
        ampliar nuestro mercado a todos los instrumentos y estilos posibles.</p>

    <br>

    <h2>Vista a futuro</h2>


    <p>Esta en los planes de "Rockn Roll Never die" contar con mas instrumentos, todo lo relacionado a equipos de
        audio
        y sonido, grabacion, estetica, mantenimento, equipos amplificadores, peadles, cuerdas y todo tipo de
        repuestos
        para los instrumentos que comercializamos </p>

    <br>

    <h2>Ubicacion</h2>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113631.04067562228!2d-109.48234074680204!3d-27.12575420310528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9947f017a8d4ae2b%3A0xbbe5b3edc02a2db6!2sIsla%20de%20Pascua!5e0!3m2!1ses!2sar!4v1665797530475!5m2!1ses!2sar"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    {{!-- <h2>¿Te gustaria dejarnos un comentario y/o sugerencia anonima?</h2>
    <p>
        <label for="comentario">Comentario y/o sugerencia</label>
        <textarea name="comentarios"></textarea>
    </p>

    <p>
        <input type="submit" value="Enviar" />
        <input type="reset" value="Borrar" />
    </p> --}}

</div>

<br>

<p>Quizas crea que la ubicacion de nuestra empresa este mal ubicada, que no es lugar para vender instumentos... Y solo dejeme decirle que.... es cierto, no sabia donde ubicar la empresa</p>